<h1>News</h1>

<p><%= link_to 'New post', new_post_path if current_user.admin %></p>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <% if current_user.admin %>
        <th scope="col">Group</th>
        <th scope="col">Receivers</th>
        <th scope="col">Opens</th>
        <th scope="col">Percent</th>
        <th scope="col">Visible</th>
        <th scope="col">Actions</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= link_to post.title, post_path(post) %></td>
        <% if current_user.admin %>
          <td><%= link_to post.group.name, group_path(post.group) %></td>
          <td><%= post.receivers %></td>
          <td><%= post.opens %></td>
          <td><%= post.open_rate %> %</td>
          <td><%= post.visible %></td>
          <td><%= link_to 'Edit', edit_post_path(post) %>
              <%= link_to 'Delete',
                post, method: :delete,
                data: { confirm: 'Are you sure?' } %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

